body {
    margin: 0;
    Font-Family: 'Lora', Serif;
    Font-Size: 14px;
    background: rgba(204, 190, 190, 0.418);
    
}

header div {
    height: 80px;
    width: 100%;
    background: #C5403D;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #A6AAAD;

}

header nav {
    padding-right: 35px;
    display: flex;
    align-items: center;
}

nav ul {
    padding: 0;
}

header h1 {
    Font-Family: 'Roboto', Sans-Serif;
    Font-Size: 36px;
    padding-left: 35px;
}

nav a{
    color: black;
    text-decoration: none;
}

nav a:hover {
    color: #A6AAAD;
}

nav li {
    display: inline;
    padding: 7px;
    Font-Family: 'Lora', Serif;
    Font-Size: 14px;
}



section {
    display: flex;
}

#column1, #column2, #column3 {
    display: flex;
    
}

figure img {
    box-shadow: 0 0 5px black;
}

#column2, #column3 {
    flex-direction: column;
}

#column3 {
    padding-top: 14px;
}
blockquote, figcaption {
    display: block;
    background: white;
    /*border: 2px solid #997A65;*/
    border: 2px solid black;
    padding: 5px;
}

.signature {
    float: right;
}

button:hover {
    cursor: pointer;
    background: #A6AAAD;
    //border: 2px solid #A6AAAD;
}

@media screen and (max-width: 1088px) {
    section {
      flex-direction: column !important;
      justify-content: center !important;
    }

    figure {
        display: flex;
    }

    button {
        width: 100px;
    }

    #column3 {
        align-items: flex-end;
        padding: 0 40px;
    }
  }