body {
    Font-Family: 'Lora', Serif;
    Font-Size: 14px;
    background: #D5B5A5;
}

header div {
    height: 100px;
    width: 100%;
    background: #C5403D;
    display: flex;
    justify-content: space-between;
    //padding: 0 25px;

}

header h1 {
    Font-Family: 'Roboto', Sans-Serif;
    Font-Size: 48px;
    padding-left: 35px;
}

nav a{
    color: black;
    text-decoration: none;
}

nav a:hover {
    color: #A6AAAD;
}

nav li {
    display: inline;
    padding: 7px;
    Font-Family: 'Lora', Serif;
    Font-Size: 14px;
}



section {
    display: flex;
}

#column1, #column2, #column3 {
    display: flex;
    
}

#column2, #column3 {
    flex-direction: column;
}

#column3 {
    padding-top: 14px;
}
blockquote, figcaption {
    display: block;
    background: white;
    border: 5px solid #997A65;
    padding: 5px;
}

.signature {
    float: right;
}

button:hover {
    cursor: pointer;
    background: #A6AAAD;
    //border: 2px solid #A6AAAD;
}